{{> header }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="Username">Please enter a handle</label>
                            <input type="text" class="form-control" size="20" required id="username"></input>
                            <input type="submit" class="btn btn-primary form-control"></input>
                        <div>
                    </form>
                </div>
            </div>
        </div>
{{> footer }}
